# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\xampp\2\htdocs\oficina\Oficina\RESPONSIVO Mecanica_Schulz\RESPONSIVO Mecanica_Schulz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
