body{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style The Dropdown Button */
.dropbtn {
    text-decoration: none;
    background-color: #000000;
    border-color: black;
    display: block;
    color: white;
    width: 180px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ff0000;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    padding-top: 2%;
}

ul {
    list-style: none;
    padding-left: 40px;
}

nav > ul > li {
    display: inline-block;
    width: 300px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    background-color: #000000;
    display: block;
    color: white;
    width: 260px;
    padding: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:hover{
    background-color: #ff0000;
}

.dropbtn:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}

nav > ul > li > a {
    transform: skew(20deg);
}

nav > ul > li > a > span {
    display: block;
    transform: skew(-20deg);
}

.hidden li:nth-child(odd) a {
    transform: skew(-25deg);
    background-image: linear-gradient(185deg, rgba(0,0,0,0.5), #000000 30%)
}

.hidden li:nth-child(even) a {
    transform: skew(25deg);
    background-image: linear-gradient(175deg, rgba(0,0,0,0.5), #000000 30%)
}

.hidden li:nth-child(even) span {
    display: block;
    transform: skew(-25deg);
}

.hidden li:nth-child(odd) span {
    display: block;
    transform: skew(25deg);
}

.hidden li:nth-child(even) a {
    position: relative;
    left: 5px;
    width: 200px;
}

.hidden li:nth-child(odd) a {
    position: relative;
    left: -5px;
    width: 200px;
}

.hidden {
    display: none;
}

.hidden li > a {
    position: absolute;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #000000;
    color: white;
    width: 100%;
}

footer > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#Logo{
    width: 30%;
    height: 60%;
    padding-left: 35%;
    padding-top: 50px;
}

/*Telinha cadastro*/
.form {
    margin-top: 2rem;
	width: 70%;
	height: 75%;
	border: 2px solid #000;
	border-radius: 80px 0px 80px 0px;
	background-color: rgba(0,0,5,0.8);
	position: relative;
	color: white;
	transform: translate (-50%, -50%);
	padding: 30px 85px;
    display: flex;
    flex-direction: column;
}


/* Select  */
.form select {
    padding: 0;
    border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 25px;
	color: #687575;
	font-size: 16px;
	color: rgba(255);
    width: 100%;
	margin-bottom: 21px;
}

.form option {
    color: black;
}



.inputs-form{
    display: flex;
}

.column {
    padding: 0 0 0 40px;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-group button {
    margin: 0 1rem;
}

h1 {
	margin: 0;
	padding-top: -30px;
	padding-bottom: 40px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
}

.form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: white;
}

.form input {
	width: 100%;
	margin-bottom: 21px;
    
    margin-bottom: 2rem;
}

label {
    cursor: pointer;
}

/* Divs dos botões radio classificação cliente */
.wrapper {
    margin-top: .8rem;
    display: flex;
}

.wrapper:first-child {
    margin-right: 2.5rem;
}

.wrapper label {
    margin: 0 .5rem;
}

/* Divs dos botões radio classificação cliente */
.wrapper {
    margin-top: .8rem;
    display: flex;
}

.wrapper:first-child {
    margin-right: 2.5rem;
}

.wrapper label {
    margin: 0 .5rem;
}

/* Aparencia do botão rádio classificação cliente */
.wrapper input[type=radio] {
    border-radius: 50%;
    width: 30px;
    height: 15px;  
    position: relative;
    top: 1px;
}

.form input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

.form input[type="text"], .form input[type="date"]{
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 25px;
	color: white;
	font-size: 16px;
	color: rgba(255);
}

button.btn {
	border: none;
	outline: none;
	height: 35px;
    width: 200px;
	color: #000;
	background: #fff;
	border-radius: 20px;
	transition: 0.2s;
    cursor: pointer;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus{
    border-color: red;
	color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}

button.btn:hover {
	cursor: pointer;
	background: rgb(255, 0, 0);
	transition: 0.2s;         
}


@media (max-width: 912px) {
    .inputs-form {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        margin-bottom: 1rem;
    }

    .btn-group {
        margin-bottom: 3rem;
    }
}

@media (max-width: 640px) {
    .form {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .form {
        padding: 0 15px;
        border-radius: .25rem;
    }

    .form h1 {
        margin-top: 1.2rem;
    }
}