#Fundo{
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style The Dropdown Button */
.dropbtn {
    text-decoration: none;
    background-color: #000000;
    border-color: black;
    display: block;
    color: white;
    width: 180px;
    height: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .dropbtn:hover{
      outline: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      background-color: #ff0000;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    padding-top: 2%;
}

ul {
    list-style: none;
    padding-left: 40px;
}

nav > ul > li {
    display: inline-block;
    width: 300px;
    margin-top: 30px;
}

a {
    text-decoration: none;
    background-color: #000000;
    display: block;
    color: white;
    width: 260px;
    padding: 13px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a:hover{
    background-color: #ff0000;
}

.dropbtn:hover{
    background-color: #ff0000;
    border-color: #ff0000;
}

nav > ul > li > a {
    transform: skew(20deg);
}

nav > ul > li > a > span {
    display: block;
    transform: skew(-20deg);
}

.hidden li:nth-child(odd) a {
    transform: skew(-25deg);
    background-image: linear-gradient(185deg, rgba(0,0,0,0.5), #000000 30%)
}

.hidden li:nth-child(even) a {
    transform: skew(25deg);
    background-image: linear-gradient(175deg, rgba(0,0,0,0.5), #000000 30%)
}

.hidden li:nth-child(even) span {
    display: block;
    transform: skew(-25deg);
}

.hidden li:nth-child(odd) span {
    display: block;
    transform: skew(25deg);
}

.hidden li:nth-child(even) a {
    position: relative;
    left: 5px;
    width: 200px;
}

.hidden li:nth-child(odd) a {
    position: relative;
    left: -5px;
    width: 200px;
}

.hidden {
    display: none;
}

.hidden li > a {
    position: absolute;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #000000;
    color: white;
    width: 100%;
}

footer > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#Logo{
    width: 30%;
    height: 50%;
    padding-left: 35%;
    padding-top: 50px;
}